.matches-container{
    width: 100%;
    height: 100%;
    background-color: var(--first-dark);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 0 1px var(--second-dark),
    0 0 2px var(--second-dark),
    0 0 4px var(--second-dark),
    0 0 6px var(--second-dark);  
    
}

.date-picker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.Calendar{
    background: var(--main-dark) !important;
    background-color: var(--main-dark) !important;
}

.Calendar__monthText,
.Calendar__yearText,
.Calendar__weekDays,
.Calendar__day,
.Calendar__monthSelectorItemText,
.Calendar__yearSelectorText
{
    color: var(--main-light) !important;
}

.Calendar__monthText:focus,
.Calendar__yearText:hover,
.Calendar__yearText:focus,
.Calendar__day:hover,
.Calendar__monthText:hover,
.Calendar__monthSelectorItemText:hover,
.Calendar__yearSelectorText:hover
{
    background:var(--frost-blue-light) !important;
}

.Calendar__monthSelector, .Calendar__yearSelector{
    background-color: var(--main-dark) !important;
}

.Calendar__yearSelectorWrapper::before{
    background-image: linear-gradient(to top, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.Calendar__yearSelectorWrapper::after{
    background-image: linear-gradient(to bottom, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.calendar-today{
    color: var(--aura-red) !important;
}

.calendar-input{
    border-radius: 10%;
    text-align: center;
    color: var(--second-light);
    outline: none;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    background-color: var(--first-dark);
    box-shadow: 
        0 0 2px var(--main-light),
        0 0 4px var(--first-light),
        0 0 8px var(--second-light);
}