@import "../../media-query.scss";

.matches-container{
    width: 100%;
    height: 100%;
    background-color: var(--first-dark);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 0 1px var(--second-dark),
    0 0 2px var(--second-dark),
    0 0 4px var(--second-dark),
    0 0 6px var(--second-dark);
    
    display: flex;
    flex-direction: column;
    
}

.date-picker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.Calendar{
    background: var(--main-dark) !important;
    background-color: var(--main-dark) !important;
}

.Calendar__monthText,
.Calendar__yearText,
.Calendar__weekDays,
.Calendar__day,
.Calendar__monthSelectorItemText,
.Calendar__yearSelectorText
{
    color: var(--main-light) !important;
}

.Calendar__monthText:focus,
.Calendar__yearText:hover,
.Calendar__yearText:focus,
.Calendar__day:hover,
.Calendar__monthText:hover,
.Calendar__monthSelectorItemText:hover,
.Calendar__yearSelectorText:hover
{
    background:var(--frost-blue-light) !important;
}

.Calendar__monthSelector, .Calendar__yearSelector{
    background-color: var(--main-dark) !important;
}

.Calendar__yearSelectorWrapper::before{
    background-image: linear-gradient(to top, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.Calendar__yearSelectorWrapper::after{
    background-image: linear-gradient(to bottom, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.calendar-today{
    color: var(--aura-red) !important;
}

.calendar-input{
    border-radius: 10%;
    text-align: center;
    z-index: 101;
    color: var(--second-light);
    outline: none;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    background-color: var(--first-dark);
    box-shadow: 
        0 0 2px var(--main-light),
        0 0 4px var(--first-light),
        0 0 8px var(--second-light);


    @include responsive(tab-land){
        font-size: 0.9rem;
        padding: 8px;
    }

    @include responsive(tab-port){
        font-size: 0.85rem;
        padding: 7px;
    }
}

.matches-content-box{
    overflow-y: scroll;
    margin-top: 2%;
    padding: 10px;
    margin-bottom: 2%;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    column-gap: 3%;
    row-gap: 5%;

    @include responsive(tab-land){
        grid-template-columns: repeat(2, 45%);
    }
    
    @include responsive(tab-port){
        grid-template-columns: repeat(1, 90%);
    }
}

.matches-content-box::-webkit-scrollbar{
    background: var(--main-dark);
}

.matches-content-box::-webkit-scrollbar-thumb{
    background: var(--dark-grey);
}

.matches-content-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5%;
    background-image: linear-gradient(
        45deg,
        var(--aura-purple),
        var(--frost-blue-light)
    );

    box-shadow: 0 0 10px;

}


.tournament-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.match-tournament-detail{
    display: flex;
    flex: 0.8;
    align-items: center;
    justify-content: flex-start;
}

.match-type{
    font-size: 0.7rem;
    color: var(--main-light);

    @include responsive(desktop){
        font-size: 0.6rem;
    }

    @include responsive(tab-port){
        font-size: 0.5rem;
    }
}

.match-tournament-title{
    font-size: 0.9rem;
    color: var(--main-light);
    padding: 1px;

    @include responsive(desktop){
        font-size: 0.7rem;
    }

    @include responsive(tab-port){
        font-size: 0.6rem;
    }
}

.team-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.team-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-title{
    font-size: 0.8rem;
    color: var(--main-dark);
    padding: 5px;

    @include responsive(tab-land){
        font-size: 0.7rem;
    }
}

.match-tag{
    font-size: 0.7rem;

    @include responsive(tab-land){
        font-size: 0.6rem;
    }
}

.small-logo{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 10px;

    @include responsive(desktop){
        width: 1.2rem;
        height: 1.2rem;
    }

    @include responsive(tab-port){
        width: 1rem;
        height: 1rem;
    }
}

.calendar-change-btn {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 10px;
}

.calendar-change-btn:hover{
    transform: scale(1.1);
}

.range-calendar-container{
    display: flex;
    flex-direction: column;
}

.spinner-div{
    position: absolute;
    left: calc(50% - 20px);
    top: calc(60% - 20px);
}