@import "../../media-query.scss";

.matches-container{
    width: 100%;
    height: 100%;
    background-color: var(--first-dark);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 0 1px var(--second-dark),
    0 0 2px var(--second-dark),
    0 0 4px var(--second-dark),
    0 0 6px var(--second-dark);
    
    display: flex;
    flex-direction: column;
    
}

.date-picker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 54px;
}

.Calendar{
    background: var(--main-dark) !important;
    background-color: var(--main-dark) !important;
}

.Calendar__monthText,
.Calendar__yearText,
.Calendar__weekDays,
.Calendar__day,
.Calendar__monthSelectorItemText,
.Calendar__yearSelectorText
{
    color: var(--main-light) !important;
}

.Calendar__monthText:focus,
.Calendar__yearText:hover,
.Calendar__yearText:focus,
.Calendar__day:hover,
.Calendar__monthText:hover,
.Calendar__monthSelectorItemText:hover,
.Calendar__yearSelectorText:hover
{
    background:var(--frost-blue-light) !important;
}

.Calendar__monthSelector, .Calendar__yearSelector{
    background-color: var(--main-dark) !important;
}

.Calendar__yearSelectorWrapper::before{
    background-image: linear-gradient(to top, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.Calendar__yearSelectorWrapper::after{
    background-image: linear-gradient(to bottom, var(--first-dark), var(--first-dark) 10%, rgba(245, 245, 245, 0)) !important;
}

.calendar-today{
    color: var(--aura-red) !important;
}

.calendar-input{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    z-index: 101;
    color: var(--second-light);
    outline: none;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    background-color: var(--first-dark);
    box-shadow: 
        0 0 2px var(--dark-grey),
        0 0 4px var(--dark-grey),
        0 0 6px var(--light-grey);


    @include responsive(tab-land){
        font-size: 0.9rem;
        padding: 8px;
    }

    @include responsive(tab-port){
        font-size: 0.85rem;
        padding: 7px;
    }
}

.matches-content-box{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    padding: 10px;
    margin-bottom: 2%;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    column-gap: 3%;
    row-gap: 5%;

    @include responsive(tab-land){
        grid-template-columns: repeat(2, 45%);
    }
    
    @include responsive(tab-port){
        grid-template-columns: repeat(1, 90%);
    }
}


.matches-content-box::-webkit-scrollbar{
    background: var(--main-dark);
}

.matches-content-box::-webkit-scrollbar-thumb{
    background: var(--dark-grey);
}

.calendar-change-btn {
    width: 24px;
    height: 24px;
    margin-right: 30px;
}

.range-calendar-container{
    display: flex;
    flex-direction: column;
}

.spinner-div{
    position: absolute;
    left: calc(50% - 20px);
    top: calc(60% - 20px);
}

.range-matches-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.range-matches-content{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 2%;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    column-gap: 3%;
    row-gap: 20px;

    @include responsive(tab-land){
        grid-template-columns: repeat(2, 45%);
    }
    
    @include responsive(tab-port){
        grid-template-columns: repeat(1, 90%);
    }
}

.date-header{
    padding-left: 10px;
    width: 150px;
    font-size: 1rem;
    margin-top: 20px;
    color: var(--dark-grey);
    text-shadow: 0 0 16px #D3D3D380;
}
