@import "../colors.scss";
@import "../media-query.scss";



@mixin menuItem($index){
  z-index: $index;
  box-shadow: 0 0 100px;
  border-radius: 10%;
  transform: skew(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover{
      animation: menu-item-anim 0.3s forwards;
  }

}


@keyframes menu-item-anim {
  25%{
      z-index: 10;
      box-shadow: 0 0 10px black;
  }

  100% {
      transform: scale(1.5, 1) skew(-10deg);
      z-index: 10;
      box-shadow: 0 0 10px black;
  }
}


.menu-body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--second-dark);
}

.menu-wrapper{
  width: 80%;
  height: 80%;
  padding: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(2, 250px);
  row-gap: 20px;
  column-gap: 20px;

  @include responsive(tab-land){
      width: 70%;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(4, 250px);
  }

  @include responsive(tab-port){
      width: 65%;
      grid-template-columns: 100%;
      grid-template-rows: repeat(8, 250px);
  }
}

.main-header{
  width: 100%;
  height: fit-content;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.main-header h3{
  font-size: 2.2rem;
  letter-spacing: 2px;
  color: var(--second-dark);
  text-shadow: 
    3px 3px 2px var(--dark-grey),
    2px 2px 4px var(--dark-grey)
  }

.main-header h5{
  margin-top: 15px;
  color: var(--dark-grey);
}


.pause-overlay{
  width: 100%;
  height: 100%;
  text-align: center;
}


.csgo {
  @include menuItem(1);
  background-color: var(--csgo-main);
}

.dota {
  @include menuItem(2);
  background-color: var(--dota-main);
}

.lol {
  @include menuItem(3);
  background-color: var(--lol-main);
}

.valorant {
  @include menuItem(4);
  background-color: var(--valorant-main);
}

.ow {
  @include menuItem(1);
  background-color: var(--ow-main);
}

.rsiege {
  @include menuItem(2);
  background-color: var(--rsiege-main);
}

.codmw {
  @include menuItem(3);
  background-color: var(--codmw-main);
}

.fifa {
  @include menuItem(4);
  background-color: var(--fifa-main);
}
