@import "../media-query.scss";

@mixin menuItem($index){
    z-index: $index;
    box-shadow: 0 0 100px;
    border-radius: 10%;
    transform: skew(-15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover{
        animation: menu-item-anim 0.3s forwards;
    }

}



@keyframes menu-item-anim {
    25%{
        z-index: 10;
        box-shadow: 0 0 10px black;
    }

    100% {
        transform: scale(1.5, 1);
        z-index: 10;
        box-shadow: 0 0 10px black;
    }
}


@mixin menuTable{
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    row-gap: 1%;

    @include responsive(tab-port){
        width: 75%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 50%);
    }

    @include responsive(phone){
        width: 65%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 50%);
    }
}