
.group-head{
    width: 40%;
    height: fit-content;
    text-align: start;
    font-size: 14px;
    background-color: var(--second-dark);
    color: var(--main-light);    
}

.group-table{
    width: 40%;
    height: fit-content;
    display: table;
    table-layout: fixed;
}

.group-table td{
    font-size: 11px;
    color: var(--dark-grey);
}

.group-table .td-g1{
    width: 10%;
}

.group-table .td-g2{
    width: 40%;
    display: flex;
    justify-content: center;
}

.group-table .td-g3{
    width: 20%;
}

.group-table .td-g4{
    width: 20%;
}

.group-table .td-g5{
    width: 10%;
}
