

.mb-container {
    width: 60px;
    height: 140px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.pc-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: transparent;
    overflow: hidden;
}

.pc-fill{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.pc-fill h1{
    cursor: default;
    color: var(--main-light);
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 5px;
}

.name-container{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--first-light);
}

.name-container h1{
    cursor: default;
    font-size: 10px;
    text-align: center;
    color: var(--second-dark);
}


.wave-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9px;
    overflow: hidden;
    line-height: 0;
}

.wave-container svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100%;
}

.wave-container .shape-fill{
    fill: var(--second-dark);
}


