@import "../media-query.scss";


.navbar{
    overflow: visible;
    width: 80px;
    height: 100vh;
    background: var(--first-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

    z-index: 100;
}

.navbar-box{
    flex: 0.4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page-item{
    width: 24px;
    height: 24px;

    @include responsive(tab-port){
        width: 20px;
        height: 20px;
    }
}

.page-item:hover{
    transform: scale(1.1);
}


.image-holder{
    width: 100%;
    text-align: center;
}

.main-logo{
    width: 80px;
    height: 80px;    
}
