

.serie-menu-body{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5%;
    padding: 8px 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-dark);
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 0 5px;
}


.serie-menu-button{
    position: relative;
    overflow: hidden;
    width: 140px;
    height: fit-content;
    padding: 10px 5px;
    justify-content: center;
    // border-radius: 4px;
    display: inline-flex;
    margin: 0 10px;
    cursor: pointer;
    align-items: center;
    color: var(--second-light);
    transition: all 0.3s  cubic-bezier(0.77, 0, 0.175, 1);
}


.serie-menu-button:before, .serie-menu-button:after {
    content: '';
    position: absolute; 
    transition: inherit;
    z-index: -1;
}


.serie-menu-active{
    position: absolute;
    bottom: 0;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s;
    background-color: var(--game-color);
    animation: active-tab-anim 0.5s 0.5s forwards;
}

@keyframes active-tab-anim {
    0% {
        width: 0;
        height: 1.5px;
    }

    100%{
        width: 60%;
        height: 1.5px;
    }
}

.serie-menu-button:hover {
    border-radius: 6px;
    box-shadow: 0 0 10px var(--main-dark);
    transition-delay: .3s;
}

.serie-menu-button:hover:before {
    transition-delay: 0s;
}

.serie-menu-button:hover:after {
    background: var(--game-color);
    transition-delay: .15s;
}

.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--game-color);
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--game-color);
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}
  
.from-center:hover:after {
    top: 0;
    height: 100%;
}


.serie-menu-button h3{
    font-size: 12px;
    letter-spacing: 1.5px;
    white-space: nowrap;
}

.serie-menu-icon{
    width: 22px;
    height: 22px; 
    margin-right: 10px;
    margin: 0px 10px;
}