
@import "./mixin.scss";

.team-details-body{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include border-gradient(hotpink, skyblue);
    border-radius: 10px;
    padding: 20px 0;
    background: var(--second-dark);
}

.team-details-card{
    width: 80%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tc-prefix-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.tc-prefix{
    color: var(--dark-grey);
    text-shadow: 0 0 2px;
    font-size: 14px;
}

.tc-suffix-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.tc-suffix{
    color: var(--second-light);
    text-shadow: 0 0 1px;
    font-size: 15px;
}