.tooltip-container{
    position: relative;
    display: inline-block;

}

.tooltip{
    position: absolute;
    left: calc(100% + 15px);
    top: 0;
    animation: tooltip-anim 0.5s;
    border-radius: 4px;
    font-size: 14px;
    width: fit-content;
    padding: 5px;
    background-color: var(--main-dark);
    z-index: 1000;
    box-shadow: 0 0 10px var(--second-dark);
    color: var(--main-light);
}




@keyframes tooltip-anim {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
    
}