:root {
    --main-dark: #20242b;
    --first-dark: #1c2026;
    --second-dark: #181b20;

    --main-light: #ECEFF4;
    --first-light: #E5E9F0;
    --second-light: #D8DEE9;

    --light-grey: #D3D3D3;
    --dark-grey: #899499;
}