:root {

    // main colors
    --main-dark: #20242b;
    --first-dark: #1c2026;
    --second-dark: #181b20;

    --main-light: #ECEFF4;
    --first-light: #E5E9F0;
    --second-light: #D8DEE9;

    --light-grey: #D3D3D3;
    --dark-grey: #899499;

    --frost-blue-light: #81A1C1;
    --frost-blue-dark: #5E81AC;
    --frost-green-light: #88C0D0;
    --frost-green-dark: #8FBCBB;

    --aura-red: #BF616A;
    --aura-orange: #D08770;
    --aura-yellow: #EBCB8B;
    --aura-green: #A3BE8C;
    --aura-purple: #B48EAD;
 

    // games
    --csgo-main: #8b493a;

    --dota-main: #9a130b;

    --lol-main: #1b6a76;
    --valorant-main: #9f3542;
    --rsiege-main: #5E81AC;
    --ow-main: #cd8c2d;
    --codmw-main: #A3BE8C;
    --fifa-main: #4e0f7e;


    --game-color: black;
}