@import "../../media-query.scss";


.tour-body{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.tour-tabs{
    position: absolute;
    background-color: var(--main-dark);
    z-index: 1000;
    height: 80px;
    box-shadow: 0 0 10px var(--second-dark);
    top: 0;
    width: 98%;
    display: flex;
    justify-content: center;
    border: 0.2px solid var(--first-dark);
    box-shadow: 10px 1px 10px #1f1f1f;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
}

.tour-tabs h1{
    padding: 15px 0;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 20px;
    color: var(--dark-grey);
    cursor: pointer;

    @include responsive(tab-land){
        font-size: 17px;
    }

    @include responsive(tab-port){
        font-size: 15px;
    }
}

.tab-anim{
    animation: pulse 1.2s infinite alternate;
    color: var(--second-light) !important;
    font-size: 24px !important;
    text-shadow: 0 0 2px var(--light-grey);
    transition: all 0.5s;

    @include responsive(tab-land){
        font-size: 21px;
    }

    @include responsive(tab-port){
        font-size: 19px;
    }
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
        text-shadow: 0 0 10px var(--light-grey);
    }
}

.tour-loading{
    position: absolute;
    left: 50%;
    top: 50%;
}

.table-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 80px !important;    
    height: fit-content;
}



