@import "../../media-query.scss";


.thead-tier{
    background-image: linear-gradient(45deg, var(--frost-blue-light), var(--aura-purple));
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // animation: fade-out 1s 1 ease-in-out forwards;

    @include responsive(tab-land){
        width: 80%;
        margin: 0 auto;
        background-image: none;
        color: var(--light-grey);
        text-shadow: 0 0 2px;
        border-bottom: solid 0.5px #89949940;
    }
}


.t-oc-btn{
    width: 24px;
    height: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.thead-tier h1{
    font-size: 18px;
    padding: 10px 20px;

    @include responsive(desktop){
        font-size: 16px;
    }
}


.tour-table{
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
    padding: 0 0 1em 0;
}


.tour-table td{
    color: var(--dark-grey);
    font-size: 14px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;

    @include responsive(desktop){
        font-size: 12px;
    }
}

.tour-table th{
    font-size: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    
    @include responsive(desktop){
        font-size: 13px;
    }
}

.td-tour-name{
    width: 70%;
    overflow: hidden;
}


.th-1, .td-1{
    width: 35%;
}

.td-1 div{
    display: flex;
    align-items: center;
}   

.th-2, .td-2{
    width: 10%;
}

.th-3, .td-3{
    width: 10%;
}

.th-4, .td-4{
    width: 10%;
}

.th-5, .td-5{
    width: 15%;
}

.th-6, .td-6{
    width: 10%;
}

.th-7, .td-7{
    width: 10%;
}

.tour-table .td-3,.tour-table .td-4,.tour-table .td-6,.tour-table .td-7{
    font-size: 12px !important;
    @include responsive(desktop){
        font-size: 10px !important;
    }
}

.tour-table tr:nth-child(odd) {
    background-color: var(--first-dark);
}

.tour-table tr:nth-child(even) {
    background-color: var(--second-dark);
}